@import url("https://fonts.googleapis.com/css2?family=Monoton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bungee+Inline&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Nabla&display=swap");
* {
  margin: 0;
  padding: 0;
}
body,
html {
  height: 100%;
  width: 100%;
  background-color: rgb(18, 18, 18);
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
}
.dataContainer {
  display: flex;
  align-items: center;
  color: white;
  font-weight: 100;
  font-size: 110px;
  gap: 10px;
  font-family: "Nabla", sans-serif;
}
.container {
  padding: 0px 20px;
  height: 200px;
  background-color: black;
  border-radius: 30px;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 100;
  font-size: 110px;
}
